src/main/resources/META-INF/mule-ldaps.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.mulesoft.org/schema/mule/ldaps"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:mule="http://www.mulesoft.org/schema/mule/core"
    xmlns:ldap="http://www.mulesoft.org/schema/mule/ldap"
    xmlns:schemadoc="http://www.mulesoft.org/schema/mule/schemadoc"
    targetNamespace="http://www.mulesoft.org/schema/mule/ldaps" 
    elementFormDefault="qualified"
    attributeFormDefault="unqualified">

    

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/core"
    schemaLocation="http://www.mulesoft.org/schema/mule/core/3.0/mule.xsd"/>
    
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/ldap"
        schemaLocation="file:///home/hsaly/devel/projects/mule-transport-ldap/trunk/src/main/resources/META-INF/mule-ldap.xsd"/>
    
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/schemadoc"
        schemaLocation="http://www.mulesoft.org/schema/mule/schemadoc/3.0/mule-schemadoc.xsd"/>


    <xsd:element name="connector" type="ldapsConnectorType"
        substitutionGroup="mule:abstract-connector"/>

    <xsd:complexType name="ldapsConnectorType">
        <xsd:complexContent>
            <xsd:extension base="ldap:ldapConnectorType">
                <xsd:attribute name="trustAll" type="xsd:boolean"></xsd:attribute>
                <xsd:attribute name="startTLS" type="xsd:boolean"></xsd:attribute>
                <xsd:attribute name="trustStore" type="xsd:string"></xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

</xsd:schema>
